<div class="play">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row" align="center">
					<h1 class="instruction hidden-xs flower">{{vm.choiseWeaponMessage}}</h1>
					<h4 class="hidden-sm hidden-md hidden-lg flower">{{vm.choiseWeaponMessage}}</h4>
				</div>
				<div class="row">
					<div class="col-xs-3 col-xs-offset-1 col- choise-weapon" ng-repeat="weapon in vm.weapons">
						<img ng-click="vm.play(weapon)" class="img-responsive" src="{{weapon.image}}">
					</div>
				</div>
			</div>
		</div>
		<div ng-if="vm.game" class="row result">
			<div class="panel panel-default">
				<div class="panel-body">
					<h1 class="game-message hidden-xs flower" align="center">{{vm.gameMessage}}</h1>
					<h4 class="hidden-sm hidden-md hidden-lg flower" align="center">{{vm.gameMessage}}</h4>
					<div class="col-xs-5 col-xs-offset-1 col-lg-offset-2">
						<img class="img-responsive" ng-src="{{vm.game.won.weapon.image}}">
					</div>
					<div class="col-xs-5">
						<img class="img-responsive" ng-src="{{vm.game.lost.weapon.image}}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
