//*** General ***//

//*** About Section ***//

.about{ 
    margin-top: 80px;
}

//*** Game Section ***//

.game{ 
    margin-top: 80px;

    .weapons-text {
         margin-top: 60px;
    }

    .weapons {
        margin-top: 20px;
        margin-left: 120px;
    }

    .action-buttons{
        margin-top: 30px;
        background-color: black;
        height: 60px;
        line-height: 60px;
        display: flex;

        &:hover {
           transform: scale(1.1);
           transition: all .2s ease-in-out; 
        }
    }
    .button-main {
        border-radius: 50px 0 50px 0;
        padding: 0px 90px;
        box-shadow: none;
        color: white;
        font-weight: 700;
        background-color: #95D2CB;
        border: 0px transparent;
        font-size: 24px;
        margin: auto;
        outline:0;
    }
}


